<ion-header>
  <ion-toolbar color="sivapp">
    <ion-title>
      Privacy Policy
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <h2>1. Introduzione</h2>
  <p>Benvenuto su Sivapp! La protezione della tua privacy è una priorità per noi. La presente privacy policy descrive come raccogliamo, utilizziamo, conserviamo e proteggiamo i dati personali degli utenti che utilizzano la nostra applicazione.</p>
  <p>"Gli utenti possono eliminare i propri dati personali direttamente tramite l'applicazione, nella sezione [Nome della sezione] sotto 'Impostazioni' > 'Elimina il mio account'. "</p>

  <h2>2. Dati Personali Raccolti</h2>
  <p>Quando ti registri su Sivapp, raccogliamo le seguenti informazioni personali:</p>
  <ul>
    <li>Indirizzo e-mail: per consentirci di comunicare con te e inviarti notifiche.</li>
    <li>Informazioni di pagamento: necessarie per completare i tuoi acquisti all'interno dell'app.</li>
  </ul>
  <p>Raccogliamo questi dati al momento della registrazione e durante l’utilizzo dell'applicazione.</p>

  <h2>3. Come Utilizziamo i Dati Personali</h2>
  <p>I tuoi dati personali sono utilizzati per i seguenti scopi:</p>
  <ul>
    <li>Processare gli acquisti: utilizziamo le informazioni di pagamento per elaborare le transazioni all'interno dell'app.</li>
    <li>Personalizzare l'esperienza dell'utente: utilizziamo i tuoi dati per adattare i servizi e le funzionalità in base alle tue preferenze e interazioni con l'app.</li>
  </ul>

  <h2>4. Conservazione dei Dati</h2>
  <p>Conserviamo i tuoi dati personali per tutto il tempo in cui utilizzi l'applicazione. Una volta che smetti di utilizzare Sivapp, i tuoi dati verranno eliminati, a meno che non sia necessario conservarli per adempiere a obblighi legali o per risolvere dispute.</p>

  <h2>5. Condivisione dei Dati</h2>
  <p>Non condividiamo i tuoi dati personali con terze parti. I tuoi dati sono trattati esclusivamente da noi e non vengono ceduti, venduti o scambiati.</p>

  <h2>6. Diritti dell'Utente</h2>
  <p>Hai il diritto di accedere, correggere e cancellare i tuoi dati personali. Puoi esercitare questi diritti contattandoci tramite l'indirizzo e-mail fornito nella sezione "Contatti". In particolare, hai i seguenti diritti:</p>
  <ul>
    <li>Diritto di rettifica: puoi correggere i dati personali che sono incompleti o imprecisi.</li>
    <li>Diritto di cancellazione: puoi richiedere che i tuoi dati vengano eliminati, a condizione che non vi siano obblighi legali che ci obbligano a conservarli.</li>
  </ul>

  <h2>7. Sicurezza dei Dati</h2>
  <p>Adottiamo misure di sicurezza appropriate per proteggere i tuoi dati personali contro accessi non autorizzati, perdite o divulgazioni accidentali. Sebbene facciamo del nostro meglio per proteggere i tuoi dati, nessun sistema di trasmissione o archiviazione è sicuro al 100%, quindi non possiamo garantire una sicurezza assoluta.</p>

  <h2>8. Uso dei Cookie</h2>
  <p>Sivapp non utilizza cookie né altre tecnologie di tracciamento. Non raccogliamo né memorizziamo informazioni relative alla tua navigazione attraverso cookie.</p>

  <h2>9. Contatti</h2>
  <p>Se hai domande riguardanti questa privacy policy o desideri esercitare i tuoi diritti relativi ai dati personali, puoi contattarci all'indirizzo e-mail: <a href="mailto:Sivapp.daniele@yahoo.com">Sivapp.daniele&#64;yahoo.com</a></p>
</ion-content>
<app-tabs></app-tabs>
