<ion-header>
  <ion-toolbar color="sivapp">
    <ion-title>
      <div class="header-container">
        <img src="assets/logo sivapp 2.png" alt="Logo">
        <span>cerca eventi</span>
      </div>
    </ion-title>

  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" (ionViewWillEnter)="caricaEventi()">

  <!-- Filtro Provincia -->
<ion-item>
  <ion-label>Provincia</ion-label>
  <ion-select [(ngModel)]="provincia" (ionChange)="onProvinciaChange($event)" [value]="provincia">
    <ion-select-option *ngFor="let prov of province" [value]="prov">{{ prov }}</ion-select-option>
  </ion-select>
</ion-item>

<!-- Filtro Città -->
<ion-item>
  <ion-label>Città</ion-label>
  <ion-select [(ngModel)]="citta" (ionChange)="onCittaChange()" [value]="citta">
    <ion-select-option [value]="''">in tutta la provincia</ion-select-option>
    <ion-select-option *ngFor="let city of cities" [value]="city">{{ city }}</ion-select-option>
  </ion-select>
</ion-item>

<!-- Filtro Data -->
<ion-item>
  <ion-label>Data</ion-label>
  <ion-input type="date" [(ngModel)]="data" (ionChange)="onDataChange(data)"></ion-input>
</ion-item>


<ion-list *ngIf="eventi.length > 0">
  <ng-container *ngFor="let evento of eventi">

    <!-- Evento NON pagato -->
    <ion-item *ngIf="evento.pagato === 'no'" tappable (click)="vaiAlDetail(evento._id)">
      <ion-thumbnail slot="start">
        <ion-img [src]="getImageUrl(evento.locandina)"></ion-img>
        <ion-icon *ngIf="isEventoSeguito(evento)" name="people" color="warning" class="EventoSeguito"></ion-icon>
      </ion-thumbnail>
      <ion-label>
        <h2>{{ evento.nomeEvento }}</h2>
        <p>{{ evento.citta }}</p>
      </ion-label>
      <ion-icon color="sivapp" name="caret-forward-outline" slot="end"></ion-icon>
    </ion-item>

    <!-- Evento PAGATO -->
    <ion-card *ngIf="evento.pagato === 'si'" class="evento-pagato" (click)="vaiAlDetail(evento._id)">
      <ion-card-header>
        <ion-card-title>{{ evento.nomeEvento }}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <img *ngIf="evento.locandina" [src]="getImageUrl(evento.locandina)" alt="Locandina Evento" class="evento-img">
        <p>{{ evento.citta }}</p>
        <p class="premium-badge">⭐ Evento Sponsorizzato</p>
      </ion-card-content>
    </ion-card>

  </ng-container>
</ion-list>


  <ion-text color="danger" *ngIf="eventi.length === 0">
    <h1 >Probabilmente oggi nella tua zona c’è qualche evento interessante… ma nessuno lo ha ancora segnalato!<br></h1>
<strong class="protagonista">Diventa protagonista: <br></strong> <h2>se conosci un evento, inseriscilo tu su Sivapp e condividilo con gli altri.<br>
Rendi viva la tua città e aiuta a far crescere questa community:<br> ogni evento segnalato può fare la differenza!</h2>



  </ion-text>

</ion-content>

<app-tabs></app-tabs>
