<ion-content class="ion-padding" >
  <div class="volantino-container">
    <div id="sezioneStampabile" >
     <ion-button fill="clear" class="chiudi-btn" (click)="chiudi()">
      <ion-icon name="close" slot="icon-only"></ion-icon>
    </ion-button>


    <p class="sottotitolo">Scopri tutte le serate e ricevi aggiornamenti in anteprima di:</p>

    <div class="info-artista">
      <p class="titolo"><strong>{{ artistaNome }}</strong></p>

    </div>

    <div class="sezione-eventi" *ngIf="eventi.length; else noEventi">
      <h2>Prossimi eventi:</h2>
      <ul>
  <!-- solo i primi 4 -->
  <li *ngFor="let evento of eventi | slice:0:4">
    {{ evento.dataEvento | date:'dd/MM' }} – {{ evento.nomeEvento }}
  </li>
</ul>

<!-- messaggio se ci sono più di 4 eventi -->
<p *ngIf="eventi.length > 4" class="altre-date">
  Troverai altre date direttamente nell’app
</p>

<h1 class="titolo"><strong>🎤 Seguimi su Sivapp!</strong></h1>

    </div>
    <ng-template #noEventi>
      <p>Non ci sono eventi in programma.</p>
    </ng-template>

 <div class="qr-section">
  <!-- QR cliccabile -->
  <a [href]="qrLink" target="_blank">
    <img [src]="qrCodeUrl" alt="QR per seguire" class="qr-code"/>
  </a>
  <p>Scansiona o clicca per seguirmi su Sivapp!</p>



  <p *ngIf="eventi.length > 4" class="altre-date">
    Per vedere tutti gli eventi, scarica l'app gratuitamente
  </p>
</div>

<!-- ✅ Banner promozionale solo per ospiti -->
<div class="banner-ospite" *ngIf="mostraBanner">
  <ion-text color="dark">
    <h2>🔓 Vuoi scoprire altri eventi?</h2>
    <p>Scarica l’app per vedere tutte le serate, salvare preferiti e ricevere notifiche!</p>
  </ion-text>
  </div>


  <ion-button expand="block" color="success" href="https://play.google.com/store/apps/details?id=com.sivapp.android" target="_blank">
    📲 Scarica l'app su Play Store
  </ion-button>


</div>







  </div>
</ion-content>
