/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/* Swiper per la home */
@import 'swiper/css/bundle';


/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
/*@import '@ionic/angular/css/palettes/dark.system.css'; */

:root {
	--ion-color-sivapp: #00ff37;
	--ion-color-sivapp-rgb: 0,255,55;
	--ion-color-sivapp-contrast: #000000;
	--ion-color-sivapp-contrast-rgb: 0,0,0;
	--ion-color-sivapp-shade: #00e030;
	--ion-color-sivapp-tint: #1aff4b;
  color-scheme: light; /* per disabilitare il dark mode */
}

.ion-color-sivapp {
	--ion-color-base: var(--ion-color-sivapp);
	--ion-color-base-rgb: var(--ion-color-sivapp-rgb);
	--ion-color-contrast: var(--ion-color-sivapp-contrast);
	--ion-color-contrast-rgb: var(--ion-color-sivapp-contrast-rgb);
	--ion-color-shade: var(--ion-color-sivapp-shade);
	--ion-color-tint: var(--ion-color-sivapp-tint);
}

p {
  font-family: 'Times New Roman', Times, serif;
}

h2 {
  font-family: 'Times New Roman', Times, serif;
}

@font-face {
  font-family: 'Montserrat';
  src: url('/assets/fonts/Montserrat-Regular.woff2') format('woff2'),
       url('/assets/fonts/Montserrat-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('/assets/fonts/Montserrat-Bold.woff2') format('woff2'),
       url('/assets/fonts/Montserrat-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

* {
  font-family: 'Montserrat', sans-serif;
}


/* Edge-to-edge layout base */

/*ion-app, ion-content, ion-page {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
}

ion-content {
  /* Usa variabili Ionic con fallback a 0 per browser */
   /*--padding-top: var(--ion-safe-area-top, 0px);
  --padding-bottom: var(--ion-safe-area-bottom, 0px);
  --padding-start: var(--ion-safe-area-left, 0px);
  --padding-end: var(--ion-safe-area-right, 0px);

  /* Se vuoi togliere il padding di default di Ionic */
   /*padding: 0 !important;
}

/* Per container interni, rimuovi margin/padding se li usi */
 /*.page-container, .main-container, .container {
  margin: 0 !important;
  padding: 0 !important;
}

/* Eventuali flex container che vuoi forzare a occupare tutto */
 /*.full-width {
  width: 100% !important;
  max-width: 100% !important;
} */
